In [1]:
import pandas as pd

import pickle
import tensorflow as tf
tf.__version__

'2.9.1'

In [2]:
model_filepath = 'model.v2/lstm_bnf_model.h5'
scaler_filepath = 'model.v2/MinMaxScaler.pkl'

In [3]:
model = tf.keras.models.load_model(
    model_filepath, custom_objects=None, compile=True, options=None
)

In [4]:
scaler = pickle.load(open(scaler_filepath, 'rb'))

In [5]:
df = pd.read_csv('10_year_bnf_data.csv')
df100 = df[3158:][['Date','Close']]

In [6]:
data = df100['Close'].values
df100

            Date     Close
3158  2022-02-14  36908.55
3159  2022-02-15  38170.10
3160  2022-02-16  37953.80
3161  2022-02-17  37531.65
3162  2022-02-18  37599.15
...          ...       ...
3253  2022-07-04  33940.90
3254  2022-07-05  33815.90
3255  2022-07-06  34324.25
3256  2022-07-07  34920.30
3257  2022-07-08  35124.05

[100 rows x 2 columns]

In [7]:
def predict(input_data):
    if len(input_data) != 60:
        raise ValueError("Require past 60 days of data to predict using this model")
    input_data = input_data.reshape(-1,1)
    scaled_input = scaler.fit_transform(input_data)
    reshaped_input = scaled_input.reshape(1,60,1)
    
    pred = model.predict(reshaped_input)
    pred = scaler.inverse_transform(pred)
    
    return pred

In [8]:
data = df100['Close'].values
data

array([36908.55, 38170.1 , 37953.8 , 37531.65, 37599.15, 37685.6 ,
       37371.65, 37392.05, 35228.1 , 36430.75, 36205.3 , 35372.8 ,
       34944.3 , 34407.8 , 32871.25, 33158.1 , 33815.45, 34475.6 ,
       34546.25, 35312.15, 35022.65, 35748.25, 36428.55, 36018.5 ,
       36348.55, 36147.35, 35527.1 , 35410.1 , 35710.5 , 35847.4 ,
       36334.3 , 36373.6 , 37148.5 , 38635.2 , 38067.9 , 37632.8 ,
       37557.35, 37752.05, 37613.8 , 37747.4 , 37463.4 , 36729.  ,
       36341.6 , 36314.9 , 36816.1 , 36044.75, 36082.35, 36404.8 ,
       36028.85, 36422.2 , 36088.15, 36163.75, 35264.55, 35232.85,
       34591.2 , 34275.4 , 34482.65, 34693.15, 33532.15, 33121.35,
       33597.6 , 34301.9 , 34163.7 , 33315.65, 34276.4 , 34247.6 ,
       34290.15, 34339.5 , 35094.9 , 35613.3 , 35826.95, 35487.4 ,
       35620.8 , 35613.65, 35275.05, 35310.2 , 34996.  , 34946.15,
       35085.45, 34483.8 , 33405.85, 33311.35, 33339.  , 32617.1 ,
       32743.05, 32684.8 , 33191.75, 32845.3 , 33135.  , 33627.45,
       33811.25, 33642.45, 33269.9 , 33425.1 , 33539.45, 33940.9 ,
       33815.9 , 34324.25, 34920.3 , 35124.05])

In [9]:
predict(data[-60:])

1/1 [==============================] - 2s 2s/step

array([[35028.023]], dtype=float32)